spring:
  datasource:
    url: jdbc:mysql://database-1.cfc8ukycmj90.ap-northeast-2.rds.amazonaws.com:3306/jeju?useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: jeju
    password: jejujejupw
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true
server:
  port: 8080
myapp:
  hostname: http://localhost
#  hostname: http://43.201.141.241

file:
  upload-dir: /files/